/*general*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 1700px;
    font-family: 'Montserrat', sans-serif;
}

/*Utility*/
.w50{
    width: 50%;   
}

.w33 {
    width: calc(100% / 3 );
}

.float {
    float: left;
}

nav li {
    display: inline-block;
    list-style: none;
    line-height: 19px;
}
    
.btn {
    display: inline-block;
    color:#fe775a;
    text-decoration: none;
    text-align: center;
    line-height: 25px;
    font-size: 14px;    
    min-width: 50px;
    padding: 5px 10px;
    border-radius:5px;
    border: 1px solid #fe775a;
}

.orange {
    background-color: #fe775a;
    color:white;   
    margin-right:0; 
    
}

.p30 {
    padding: 15px;
} 

.clearfix {
    content: " ";
    clear: both;
    display: table;
}

h1 {
    font-size: 48px;
    color:#33475b;
}

h2 {
    font-size: 16px;
    font-weight:500;
    margin: 35px 0;
    color:#33475b;
    line-height: 27px;   
}


/*header*/

header .row {
    line-height: 80px;
    letter-spacing: -1px;
    font-weight: 600; 
    color:#32495b;
    width: 100%;
    margin: 0px auto;
    padding: 0px 250px;    
}

header .row:first-child {
    border-bottom: 1px solid black; 
    background-color: #f4f9fd;   
}

header .row:last-child {
    border-bottom: 1px solid black; 
    background-color: #ffffff;   
}

header .container {
    width:100%;
    margin:0 auto;
}

header .row:first-child .float:first-child li:first-child{
    border-right: 2px solid #899397;  
    padding-right: 19px;  
    letter-spacing: 0;
}

header .row:first-child .float:first-child li:last-child{
    margin-left: 18px;
    font-weight: 500;    
}

header .row:first-child .float:last-child li{
    margin-right: 23px;   
}

header .row:first-child .float:last-child li:last-child{
    margin-right: 0;   
}

header .row .float:nth-child(2) {
        text-align: right;
}

.fa-search {
    color: #00a4bd;
    /*margin: 10px;*/
    font-size: 14px;
}

.fa-globe-europe {
    margin-right: 2px;
}


/*jumbotron*/
main .container {
    width: 100%;
    background-color:#fef4ec ;
}

main .jumbotron {
    background-image: url("../img-hubspot/jumbotron.png");
    background-position: 253px 0px;
    background-repeat: no-repeat;
    height: 609px;
    width: 1700px;
    padding: 5px 250px;
}
