/*general*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 1683px;
    font-family: 'Montserrat', sans-serif;
}

/*Utility*/
.w50{
    width: 50%;   
}

.w33 {
    width: calc(100% / 3 );
}
.float {
    float: left;
}

nav li {
    display: inline-block;
    list-style: none;
    line-height: 26px;
    margin-right: 5px;
    padding: 0 3px;
}

.btn {
    border-radius:5px;
    border: 1px solid #fe775a;
    color:#fe775a;
    margin: 1px;
    display: inline-block;
    min-width: 100px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 25px;
}

.orange {
    background-color: #fe775a;
    color:white;    
}

.clearfix {
    content: " ";
    clear: both;
    display: table;
}
header .row {
    line-height: 80px;
    width: 100%;
    margin: 0px 171px;
}
/*header*/

header .container {
    width:80%;
    margin:0 auto;
}
header .row:nth-child(1) nav:nth-child(1){
    width: 50%;
}
header.row li{
    border-right: 1px solid black;
    
}
