/*general*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 1683px;
    font-family: 'Montserrat', sans-serif;
}

/*Utility*/
.w50{
    width: 50%;   
}

.w33 {
    width: calc(100% / 3 );
}
.float {
    float: left;
}

nav li{
    display: inline-block;
    list-style: none;
}

.btn {
    border-radius:5px;
    border: 1px solid #fe775a;
    line-height: 20px;
}

.clearfix {
    content: " ";
    clear: both;
    display: table;
}

/*header*/

header .container {
    width:80%;
    margin:0 auto;
}
header .row:nth-child(1) nav:nth-child(1){
    width: 50%;
}
header .row:nth-child(1) li:nth-child(1){
    border-right: 1px solid black;
    
}
